<div class="card">
  <div class="card-header">
    <button class="btn btn-info" (click)="test()"> Get All User</button>
  </div>
  <div class="card-body">
    <div class="container">
      <table class="table ">
        <thead>
        <tr>
          <th>ชื่อผู้ใช้</th>
          <th>ชื่อจริง</th>
          <th>เบอร์</th>
          <th>ที่อยู่</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of user">
          <td>{{u.username}}</td>
          <td>{{u.name}}</td>
          <td>{{u.tel}}</td>
          <td>{{u.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
