<nav class="navbar navbar-dark">
    <ul class="navbar-nav  bg-success">
        <li class="nav-item">
            <div align="center">
                <img src="../../assets/kulogo.png" width="100%">
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/master">เพิ่มรายการบันทึก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/detail">เพิ่มหมวด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/search">ดูรายการบันทึก</a>
        </li>
    </ul>
</nav>
